.lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: -15px 0 0 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
}

.lightrope li {
    position: relative;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background: #00f7a5;
    box-shadow: 0px 4.66667px 24px 3px #00f7a5;
    -webkit-animation-name: flash-1;
    animation-name: flash-1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.lightrope li:nth-child(2n+1) {
    background: cyan;
    box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.5);
    -webkit-animation-name: flash-2;
    animation-name: flash-2;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

/*.lightrope li:nth-child(4n+2) {*/
/*    background: #f70094;*/
/*    box-shadow: 0px 4.66667px 24px 3px #f70094;*/
/*    -webkit-animation-name: flash-3;*/
/*    animation-name: flash-3;*/
/*    -webkit-animation-duration: 1.1s;*/
/*    animation-duration: 1.1s;*/
/*}*/

.lightrope li:nth-child(odd) {
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
}

.lightrope li:nth-child(3n+1) {
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
}

.lightrope li:before {
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9.33333px;
    border-radius: 3px;
    top: -4.66667px;
    left: 1px;
}

.lightrope li:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 18.66667px;
    border-bottom: solid #222 2px;
    border-radius: 50%;
}

.lightrope li:last-child:after {
    content: none;
}

.lightrope li:first-child {
    margin-left: -40px;
}

@-webkit-keyframes flash-1 {
    0%, 100% {
        background: #00f7a5;
        box-shadow: 0px 4.66667px 24px 3px #00f7a5;
    }
    50% {
        background: rgba(0, 247, 165, 0.4);
        box-shadow: 0px 4.66667px 24px 3px rgba(0, 247, 165, 0.2);
    }
}

@keyframes flash-1 {
    0%, 100% {
        background: #00f7a5;
        box-shadow: 0px 4.66667px 24px 3px #00f7a5;
    }
    50% {
        background: rgba(0, 247, 165, 0.4);
        box-shadow: 0px 4.66667px 24px 3px rgba(0, 247, 165, 0.2);
    }
}

@-webkit-keyframes flash-2 {
    0%, 100% {
        background: cyan;
        box-shadow: 0px 4.66667px 24px 3px cyan;
    }
    50% {
        background: rgba(0, 255, 255, 0.4);
        box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.2);
    }
}

@keyframes flash-2 {
    0%, 100% {
        background: cyan;
        box-shadow: 0px 4.66667px 24px 3px cyan;
    }
    50% {
        background: rgba(0, 255, 255, 0.4);
        box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.2);
    }
}

/*@-webkit-keyframes flash-3 {*/
/*    0%, 100% {*/
/*        background: #f70094;*/
/*        box-shadow: 0px 4.66667px 24px 3px #f70094;*/
/*    }*/
/*    50% {*/
/*        background: rgba(247, 0, 148, 0.4);*/
/*        box-shadow: 0px 4.66667px 24px 3px rgba(247, 0, 148, 0.2);*/
/*    }*/
/*}*/

/*@keyframes flash-3 {*/
/*    0%, 100% {*/
/*        background: #f70094;*/
/*        box-shadow: 0px 4.66667px 24px 3px #f70094;*/
/*    }*/
/*    50% {*/
/*        background: rgba(247, 0, 148, 0.4);*/
/*        box-shadow: 0px 4.66667px 24px 3px rgba(247, 0, 148, 0.2);*/
/*    }*/
/*}*/









.u-expanded-width {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
@media (min-width: 1400px) {
    .u-expanded-width-xxl {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@media (min-width: 1200px) {
    .u-xl-mode .u-expanded-width-xl {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@media (min-width: 1200px) and (max-width: 1399px) {
    .u-xxl-mode .u-expanded-width-xl {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .u-expanded-width-lg {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .u-expanded-width-md {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .u-expanded-width-sm {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@media (max-width: 575px) {
    .u-expanded-width-xs {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
.u-preserve-proportions.u-expanded-width > * {
    position: absolute !important;
}
.u-preserve-proportions.u-expanded-width-xl > * {
    position: absolute !important;
}
.u-preserve-proportions.u-expanded-width-lg > * {
    position: absolute !important;
}
.u-preserve-proportions.u-expanded-width-md > * {
    position: absolute !important;
}
.u-preserve-proportions.u-expanded-width-sm > * {
    position: absolute !important;
}
.u-preserve-proportions.u-expanded-width-xs > * {
    position: absolute !important;
}
.u-preserve-proportions.u-expanded-width > .u-preserve-proportions-child {
    position: relative !important;
}
.u-preserve-proportions.u-expanded-width-xl > .u-preserve-proportions-child {
    position: relative !important;
}
.u-preserve-proportions.u-expanded-width-lg > .u-preserve-proportions-child {
    position: relative !important;
}
.u-preserve-proportions.u-expanded-width-md > .u-preserve-proportions-child {
    position: relative !important;
}
.u-preserve-proportions.u-expanded-width-sm > .u-preserve-proportions-child {
    position: relative !important;
}
.u-preserve-proportions.u-expanded-width-xs > .u-preserve-proportions-child {
    position: relative !important;
}


.u-expanded {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}u-expand-resize


 .u-image.u-logo {
     display: table;
     white-space: nowrap;
 }
.u-image.u-logo img {
    display: block;
}

.u-image,
.u-background-effect-image,
.u-video-poster {
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
img.u-image,
.u-video-poster {
    overflow: hidden;
}
.u-back-image.u-image-contain,
.u-image.u-image-contain {
    object-fit: contain;
    background-size: contain;
}
.u-back-image.u-image-tiles,
.u-image.u-image-tiles {
    background-size: initial;
    background-repeat: repeat;
    background-position: top left !important;
}
section.u-image:not(.u-hover-box),
.u-sheet.u-image:not(.u-hover-box),
.u-group.u-image:not(.u-hover-box),
.u-layout-cell.u-image:not(.u-hover-box) {
    overflow: visible;
}
.u-text .u-image {
    display: inline-block;
}
.u-post-content .u-image {
    margin-bottom: 0.5rem;
}
.u-image-circle.u-image {
    border-radius: 50% !important;
}
.u-image-square {
    border-radius: 0;
}

.u-sheet:not(.u-image):not(.u-video) {
    pointer-events: none;
}
.u-sheet:not(.u-image):not(.u-video) > * {
    pointer-events: auto;
    pointer-events: initial;
}
.u-lightbox .u-image,
.u-lightbox .u-gallery-item {
    cursor: pointer;
}
.u-overlap.u-overlap-transparent .u-header,
.u-image,
.u-gradient {
    color: #111111;
}


/** color-rules **/
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > a,
.u-gradient > .u-container-layout > a,
.u-image:not(.u-shading) > .u-container-layout > a,
a
{
    color: #478ac9;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > a:hover,
.u-gradient > .u-container-layout > a:hover,
.u-image:not(.u-shading) > .u-container-layout > a:hover,
a:hover
{
    color: #387cbd;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn,
.u-gradient > .u-container-layout > .u-btn,
.u-image:not(.u-shading) > .u-container-layout > .u-btn,
.u-btn
{
    background-color: #478ac9;
    color: #ffffff;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn:hover,
.u-gradient > .u-container-layout > .u-btn:hover,
.u-image:not(.u-shading) > .u-container-layout > .u-btn:hover,
.u-btn:hover
{
    background-color: #387cbd;
    color: #e6e6e6;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn:focus,
.u-gradient > .u-container-layout > .u-btn:focus,
.u-image:not(.u-shading) > .u-container-layout > .u-btn:focus,
.u-btn:focus
{
    background-color: #387cbd;
    color: #e6e6e6;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn:active,
.u-gradient > .u-container-layout > .u-btn:active,
.u-image:not(.u-shading) > .u-container-layout > .u-btn:active,
.u-btn:active
{
    background-color: #387cbd;
    color: #e6e6e6;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > blockquote,
.u-gradient > .u-container-layout > blockquote,
.u-image:not(.u-shading) > .u-container-layout > blockquote,
blockquote
{
    border-color: #478ac9;
}

.u-header .u-image-1 {
    width: 20px;
    height: 10px;
    margin: 22px auto 0 0;
}



.u-align-center {
    text-align: center;
}
@media (min-width: 1400px) {
    .u-align-center-xxl {
        text-align: center;
    }
}
@media (min-width: 1200px) {
    .u-xl-mode .u-align-center-xl {
        text-align: center;
    }
}
@media (min-width: 1200px) and (max-width: 1399px) {
    .u-xxl-mode .u-align-center-xl {
        text-align: center;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .u-align-center-lg {
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .u-align-center-md {
        text-align: center;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .u-align-center-sm {
        text-align: center;
    }
}
@media (max-width: 575px) {
    .u-align-center-xs {
        text-align: center;
    }
}

[class*="u-custom-color-"].u-body,
[class*="u-palette-"].u-body,
[class*="u-gray-"].u-body,
.u-white.u-body,
.u-black.u-body {
    background-image: none;
}
.u-button-style[class*="u-custom-color-"],
.u-button-style[class*="u-palette-"],
.u-button-style[class*="u-gray-"],
.u-button-style.u-white,
.u-button-style.u-black {
    border-width: 0;
}
.u-search-left .u-search-icon[class*="u-custom-color-"],
.u-search-left .u-search-icon[class*="u-palette-"],
.u-search-left .u-search-icon[class*="u-gray-"],
.u-search-left .u-search-icon.u-white,
.u-search-left .u-search-icon.u-black {
    margin-right: 0.8em;
}
.u-search-right .u-search-icon[class*="u-custom-color-"],
.u-search-right .u-search-icon[class*="u-palette-"],
.u-search-right .u-search-icon[class*="u-gray-"],
.u-search-right .u-search-icon.u-white,
.u-search-right .u-search-icon.u-black {
    margin-left: 0.8em;
}


.u-black,
.u-body.u-black,
section.u-black:before,
.u-black > .u-container-layout:before,
.u-black > .u-inner-container-layout:before,
.u-black.u-sidenav:before,
.u-container-layout.u-container-layout.u-black:before,
.u-table-alt-black tr:nth-child(even) {
    color: #ffffff;
    background-color: #000000;
}
.u-button-style.u-black,
.u-button-style.u-black[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #000000 !important;
}
.u-button-style.u-black:hover,
.u-button-style.u-black[class*="u-border-"]:hover,
.u-button-style.u-black:focus,
.u-button-style.u-black[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-black:active,
.u-button-style.u-button-style.u-black[class*="u-border-"]:active,
.u-button-style.u-button-style.u-black.active,
.u-button-style.u-button-style.u-black[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-black,
li.active > .u-button-style.u-button-style.u-black[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #000000 !important;
}


.u-body-color a,.u-palette-1-base a,.u-palette-1-dark-3 a,.u-palette-1-dark-2 a,.u-palette-1-dark-1 a,.u-palette-1 a,.u-palette-1-light-1 a,.u-palette-2-base a,.u-palette-2-dark-3 a,.u-palette-2-dark-2 a,.u-palette-2-dark-1 a,.u-palette-2 a,.u-palette-2-light-1 a,.u-palette-3-dark-3 a,.u-palette-3-dark-2 a,.u-palette-3-dark-1 a,.u-palette-4-base a,.u-palette-4-dark-3 a,.u-palette-4-dark-2 a,.u-palette-4-dark-1 a,.u-palette-5-dark-3 a,.u-palette-5-dark-2 a,.u-palette-5-dark-1 a,.u-grey-40 a,.u-grey-30 a,.u-grey-90 a,.u-grey-80 a,.u-grey-75 a,.u-black a,.u-grey-70 a,.u-grey-60 a,.u-grey-50 a,.u-grey-dark-3 a,.u-grey-dark-2 a,.u-grey-dark-1 a,.u-grey a,.u-shading a,.u-overlap-contrast .u-header a:not(.u-nav-link):not(.u-btn)
{
    color: #adcce9;
}
.u-body-color a:hover,.u-palette-1-base a:hover,.u-palette-1-dark-3 a:hover,.u-palette-1-dark-2 a:hover,.u-palette-1-dark-1 a:hover,.u-palette-1 a:hover,.u-palette-1-light-1 a:hover,.u-palette-2-base a:hover,.u-palette-2-dark-3 a:hover,.u-palette-2-dark-2 a:hover,.u-palette-2-dark-1 a:hover,.u-palette-2 a:hover,.u-palette-2-light-1 a:hover,.u-palette-3-dark-3 a:hover,.u-palette-3-dark-2 a:hover,.u-palette-3-dark-1 a:hover,.u-palette-4-base a:hover,.u-palette-4-dark-3 a:hover,.u-palette-4-dark-2 a:hover,.u-palette-4-dark-1 a:hover,.u-palette-5-dark-3 a:hover,.u-palette-5-dark-2 a:hover,.u-palette-5-dark-1 a:hover,.u-grey-40 a:hover,.u-grey-30 a:hover,.u-grey-90 a:hover,.u-grey-80 a:hover,.u-grey-75 a:hover,.u-black a:hover,.u-grey-70 a:hover,.u-grey-60 a:hover,.u-grey-50 a:hover,.u-grey-dark-3 a:hover,.u-grey-dark-2 a:hover,.u-grey-dark-1 a:hover,.u-grey a:hover
{
    color: #a1a1a1;
}
.u-body-color .u-btn,.u-palette-1-base .u-btn,.u-palette-1-dark-3 .u-btn,.u-palette-1-dark-2 .u-btn,.u-palette-1-dark-1 .u-btn,.u-palette-1 .u-btn,.u-palette-1-light-1 .u-btn,.u-palette-2-base .u-btn,.u-palette-2-dark-3 .u-btn,.u-palette-2-dark-2 .u-btn,.u-palette-2-dark-1 .u-btn,.u-palette-2 .u-btn,.u-palette-2-light-1 .u-btn,.u-palette-3-dark-3 .u-btn,.u-palette-3-dark-2 .u-btn,.u-palette-3-dark-1 .u-btn,.u-palette-4-base .u-btn,.u-palette-4-dark-3 .u-btn,.u-palette-4-dark-2 .u-btn,.u-palette-4-dark-1 .u-btn,.u-palette-5-dark-3 .u-btn,.u-palette-5-dark-2 .u-btn,.u-palette-5-dark-1 .u-btn,.u-grey-40 .u-btn,.u-grey-30 .u-btn,.u-grey-90 .u-btn,.u-grey-80 .u-btn,.u-grey-75 .u-btn,.u-black .u-btn,.u-grey-70 .u-btn,.u-grey-60 .u-btn,.u-grey-50 .u-btn,.u-grey-dark-3 .u-btn,.u-grey-dark-2 .u-btn,.u-grey-dark-1 .u-btn,.u-grey .u-btn,.u-shading .u-btn,.u-overlap-contrast .u-header .u-btn
{
    background-color: #adcce9;
    color: #000000;
}
.u-body-color .u-btn:hover,.u-palette-1-base .u-btn:hover,.u-palette-1-dark-3 .u-btn:hover,.u-palette-1-dark-2 .u-btn:hover,.u-palette-1-dark-1 .u-btn:hover,.u-palette-1 .u-btn:hover,.u-palette-1-light-1 .u-btn:hover,.u-palette-2-base .u-btn:hover,.u-palette-2-dark-3 .u-btn:hover,.u-palette-2-dark-2 .u-btn:hover,.u-palette-2-dark-1 .u-btn:hover,.u-palette-2 .u-btn:hover,.u-palette-2-light-1 .u-btn:hover,.u-palette-3-dark-3 .u-btn:hover,.u-palette-3-dark-2 .u-btn:hover,.u-palette-3-dark-1 .u-btn:hover,.u-palette-4-base .u-btn:hover,.u-palette-4-dark-3 .u-btn:hover,.u-palette-4-dark-2 .u-btn:hover,.u-palette-4-dark-1 .u-btn:hover,.u-palette-5-dark-3 .u-btn:hover,.u-palette-5-dark-2 .u-btn:hover,.u-palette-5-dark-1 .u-btn:hover,.u-grey-40 .u-btn:hover,.u-grey-30 .u-btn:hover,.u-grey-90 .u-btn:hover,.u-grey-80 .u-btn:hover,.u-grey-75 .u-btn:hover,.u-black .u-btn:hover,.u-grey-70 .u-btn:hover,.u-grey-60 .u-btn:hover,.u-grey-50 .u-btn:hover,.u-grey-dark-3 .u-btn:hover,.u-grey-dark-2 .u-btn:hover,.u-grey-dark-1 .u-btn:hover,.u-grey .u-btn:hover,.u-shading .u-btn:hover,.u-overlap-contrast .u-header .u-btn:hover
{
    background-color: #8db8e0;
    color: #ffffff;
}
.u-body-color .u-btn:active,.u-palette-1-base .u-btn:active,.u-palette-1-dark-3 .u-btn:active,.u-palette-1-dark-2 .u-btn:active,.u-palette-1-dark-1 .u-btn:active,.u-palette-1 .u-btn:active,.u-palette-1-light-1 .u-btn:active,.u-palette-2-base .u-btn:active,.u-palette-2-dark-3 .u-btn:active,.u-palette-2-dark-2 .u-btn:active,.u-palette-2-dark-1 .u-btn:active,.u-palette-2 .u-btn:active,.u-palette-2-light-1 .u-btn:active,.u-palette-3-dark-3 .u-btn:active,.u-palette-3-dark-2 .u-btn:active,.u-palette-3-dark-1 .u-btn:active,.u-palette-4-base .u-btn:active,.u-palette-4-dark-3 .u-btn:active,.u-palette-4-dark-2 .u-btn:active,.u-palette-4-dark-1 .u-btn:active,.u-palette-5-dark-3 .u-btn:active,.u-palette-5-dark-2 .u-btn:active,.u-palette-5-dark-1 .u-btn:active,.u-grey-40 .u-btn:active,.u-grey-30 .u-btn:active,.u-grey-90 .u-btn:active,.u-grey-80 .u-btn:active,.u-grey-75 .u-btn:active,.u-black .u-btn:active,.u-grey-70 .u-btn:active,.u-grey-60 .u-btn:active,.u-grey-50 .u-btn:active,.u-grey-dark-3 .u-btn:active,.u-grey-dark-2 .u-btn:active,.u-grey-dark-1 .u-btn:active,.u-grey .u-btn:active,.u-shading .u-btn:active,.u-overlap-contrast .u-header .u-btn:active
{
    background-color: #8db8e0;
    color: #ffffff;
}



.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-container-layout-2 {
    padding: 0;
}

.u-section-1 .u-container-layout-3 {
    padding: 30px;
}
.u-section-1 .u-container-layout-4 {
    padding: 0;
}

.u-section-1 .u-container-layout-5 {
    padding: 30px;
}


.u-section-1 .u-container-layout-6 {
    padding: 0;
}
.u-section-1 .u-container-layout-5 {
    padding: 30px;
}

.u-section-1 .u-container-layout-6 {
    padding: 0;
}

.u-section-1 .u-container-layout-5 {
    padding: 30px;
}
.u-section-1 .u-container-layout-6 {
    padding: 0;
}
.u-section-1 .u-container-layout-5 {
    padding: 30px;
}

.u-section-1 .u-container-layout-6 {
    padding: 0;
}

@media (max-width: 767px) {
    .u-section-1 .u-list-1 {
        width: 540px;
        margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-repeater-1 {
        grid-template-columns: 100%;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-5 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-5 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-5 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-5 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-text-19 {
        margin-left: calc(((100% - 540px) / 2) + 131px);
        margin-right: calc(((100% - 540px) / 2) + 131px);
    }
}



.u-align-center {
    text-align: center;
}
@media (min-width: 1400px) {
    .u-align-center-xxl {
        text-align: center;
    }
}
@media (min-width: 1200px) {
    .u-xl-mode .u-align-center-xl {
        text-align: center;
    }
}
@media (min-width: 1200px) and (max-width: 1399px) {
    .u-xxl-mode .u-align-center-xl {
        text-align: center;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .u-align-center-lg {
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .u-align-center-md {
        text-align: center;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .u-align-center-sm {
        text-align: center;
    }
}
@media (max-width: 575px) {
    .u-align-center-xs {
        text-align: center;
    }
}

.u-clearfix:after,
.u-clearfix:before {
    content: '';
    display: table;
}
.u-clearfix:after {
    clear: both;
}

.u-stick-footer .u-footer {
    margin-top: auto;
}
.u-hide-header .u-header,
.u-hide-footer .u-footer {
    display: none;
}

.u-footer {
    background-image: none;
}

.u-footer .u-sheet-1 {
    min-height: 120px;
}

.u-footer .u-text-1 {
    width: 417px;
    margin: 49px auto;
}
@media (max-width: 1199px) {
    .u-footer .u-sheet-1 {
        min-height: 99px;
    }
}
@media (max-width: 991px) {
    .u-footer .u-sheet-1 {
        min-height: 76px;
    }
}
@media (max-width: 767px) {
    .u-footer .u-sheet-1 {
        min-height: 57px;
    }
}
@media (max-width: 575px) {
    .u-footer .u-sheet-1 {
        min-height: 36px;
    }

    .u-footer .u-text-1 {
        width: 340px;
    }
}


.u-grey-80,
.u-body.u-grey-80,
section.u-grey-80:before,
.u-grey-80 > .u-container-layout:before,
.u-grey-80 > .u-inner-container-layout:before,
.u-grey-80.u-sidenav:before,
.u-container-layout.u-container-layout.u-grey-80:before,
.u-table-alt-grey-80 tr:nth-child(even) {
    color: #ffffff;
    background-color: #333333;
}
.u-button-style.u-grey-80,
.u-button-style.u-grey-80[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #333333 !important;
}
.u-button-style.u-grey-80:hover,
.u-button-style.u-grey-80[class*="u-border-"]:hover,
.u-button-style.u-grey-80:focus,
.u-button-style.u-grey-80[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-grey-80:active,
.u-button-style.u-button-style.u-grey-80[class*="u-border-"]:active,
.u-button-style.u-button-style.u-grey-80.active,
.u-button-style.u-button-style.u-grey-80[class*="u-border-"].active,
li.active > .u-button-style.u-button-style.u-grey-80,
li.active > .u-button-style.u-button-style.u-grey-80[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #2e2e2e !important;
}


section > *,
header > *,
footer > *,
.u-sheet > *,
.u-section-row > * {
    position: relative;
}
section.u-image:not(.u-hover-box),
.u-sheet.u-image:not(.u-hover-box),
.u-group.u-image:not(.u-hover-box),
.u-layout-cell.u-image:not(.u-hover-box) {
    overflow: visible;
}

.u-sheet {
    position: relative;
    margin: 0 auto;
}
@media (max-width: 767px) {
    :not(.u-sheet) > [class*="u-gutter-"]:not(.u-gutter-0).u-expanded-width {
        overflow: hidden;
    }
}
.u-sheet:not(.u-image):not(.u-video) {
    pointer-events: none;
}
.u-sheet:not(.u-image):not(.u-video) > * {
    pointer-events: auto;
    pointer-events: initial;
}
.u-sheet.u-content-layout {
    display: flex;
    flex-wrap: nowrap;
}
@media (max-width: 991px) {
    .u-sheet.u-content-layout {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1199px) {
    .u-footer .u-sheet-1 {
        min-height: 99px;
    }
}
@media (max-width: 991px) {
    .u-footer .u-sheet-1 {
        min-height: 76px;
    }
}
@media (max-width: 767px) {
    .u-footer .u-sheet-1 {
        min-height: 57px;
    }
}
@media (max-width: 575px) {
    .u-footer .u-sheet-1 {
        min-height: 36px;
    }

    .u-footer .u-text-1 {
        width: 340px;
    }
}
.u-footer .u-sheet-1 {
    min-height: 120px;
}
.u-header .u-sheet-1 {
    min-height: 80px;
}


.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*border-width: 10px;*/
    /*padding: 5px;*/
}
.top-left {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tekst_sverhu_kartinki {
    position: absolute;
    top: 40%;
    left: 65px;
    text-transform: uppercase;
    color: white;
    width: 450px;
    background: #00000094;
    padding: 10px;
    text-align: center;
    font: bold 24px/34px Helvetica, Sans-Serif;
}

.tekstsss {
    position: absolute;
    top: 10px;
    text-align: left;
    right: 40px;
    left: 65px;
    text-transform: uppercase;
    color: darkred;
    width: 500px;
    padding: 30px;
    /*text-align: center;*/
    font: bold 24px/34px Helvetica, Sans-Serif;
}

.podval {
    top: 170%;
    width: 100%;
    height: 8%;
    background: #ffffff;
    margin:auto;
    clear:both;
}

.podval1 {
    top: 100%;
    width: 8%;
    height: 8%;
    background: #ffffff;
    margin:auto;
    clear:both;
}

.sizeMenuMain {
    font-size: 20px;
}

.sizeMenu {
    font-size: 15px;
    line-height: 1.5;
}




div#tekst_sverhu_kartinki {
    position: relative;
}.tekst_sverhu_kartinki {
     position: absolute;
     top: 50%;
     left: 65px;
     text-transform: uppercase;
     color: white;
     width: 350px;
     background: #00000094;
     padding: 10px;
     text-align: center;
     font: bold 24px/34px Helvetica, Sans-Serif;
 }


 .slideshow-container {
     max-width: 1000px;
     position: relative;
     margin: auto;
 }
 .prev, .next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     margin-top: -22px;
     padding: 16px;
     color: white;
     font-weight: bold;
     font-size: 18px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
 }

 .fade {

 }

 .mySlaides {

 }

 .numverText {

 }